@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Blazor_Umbraco13.RazorComponents;

@{
	Layout = "Master.cshtml";
}

<section class="content-page">
	@* <h1>@Model.Name</h1> *@
	<div class="text-content text-color-primary-700 p-16 rounded-xl">@Model.MainText</div>
	<div class="text-content bg-color-primary p-16 rounded-xl" >@Model.MainText</div>

</section>
