@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Blazor_Umbraco13.RazorComponents;

@{
	Layout = "Master.cshtml";
}

<section class="home-content">
	@* <h1>@Model.Name</h1> *@
	<div class="text-content">@Model.MainText</div>

	@(await Html.RenderComponentAsync<Display>(RenderMode.ServerPrerendered))


</section>
