@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.TablePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
	Layout = "Master.cshtml";

}


<section class="home-content bg-color-primary p-16 rounded-xl">
	@* <h1>@Model.Name</h1> *@

@(await Html.RenderComponentAsync<Blazor_Umbraco13.RazorComponents.Table.Table>(RenderMode.ServerPrerendered))


</section>
