@namespace TableRow
@using TableInput

  <div class="table-row pt-2 pb-2">
			<TableInput
        T="string"
        Type="string"
        BindingValue="Name"
        BindingValueChanged="SetNameAsync"
      />
			<TableInput
        T="int"
        Type="number"
        BindingValue="Quantity"
        BindingValueChanged="SetQuantityAsync"
      />
      <button @onclick="OnDeleteRow" class="px-8 py-2 bg-color-danger hover:bg-color-danger-600 rounded-lg">Delete</button>
	</div>


@code
{
  [Parameter]
  public Guid Id { get; set;}
  [Parameter]
  public EventCallback<Guid> IdChanged { get; set; }
  [Parameter]
  public string? Name { get; set;}
  [Parameter]
  public EventCallback<string?> NameChanged { get; set; }
  async Task SetNameAsync(string value)
  {
    await NameChanged.InvokeAsync(value);
  }
  [Parameter]
  public int Quantity { get; set; }
  [Parameter]
  public EventCallback<int> QuantityChanged { get; set; }
  async Task SetQuantityAsync(int value)
  {
    await QuantityChanged.InvokeAsync(value);
  }

  [Parameter]
  public EventCallback<Guid> DeleteClicked { get; set; }

  async Task OnDeleteRow()
  {
    Console.WriteLine("OnDeleteRow, Id:" + Id);
    await DeleteClicked.InvokeAsync(Id);
  }


}
