/* figure out how to do scoped css, these are not included in the build.... */

.table-container {

}

.table-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 48px;
  border-bottom: 1px solid #5F769A;
}
