@namespace TableRow
@using TableInput

  <div class="table-row">
		<div class="table-data">
			@* <TableInput T="string" Type="string" @bind-BindingValue=Name /> *@
			<TableInput T="string" Type="string" BindingValue="Name" BindingValueChanged="SetNameAsync" />
		</div>
		<div class="table-data">
			<TableInput T="int" Type="number" BindingValue="Quantity" BindingValueChanged="SetQuantityAsync" />
		</div>
		<div class="table-data"><button>-</button></div>
	</div>


@code
{
  [Parameter]
  public string? Name { get; set;}
  [Parameter]
  public EventCallback<string?> NameChanged { get; set; }
  async Task SetNameAsync(string value)
  {
    Console.WriteLine("Name:");
    Console.WriteLine(value);
    await NameChanged.InvokeAsync(value);
  }
  [Parameter]
  public int Quantity { get; set; }
  [Parameter]
  public EventCallback<int> QuantityChanged { get; set; }
  async Task SetQuantityAsync(int value)
  {
    Console.WriteLine("Name:");
    Console.WriteLine(value);
    await QuantityChanged.InvokeAsync(value);
  }



}
